{% load static %}

<header class=" mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <img class="mdc-icon-button mdc-top-app-bar__navigation-icon--unbounded" src="{% static 'img/tictac_logo.png' %}"/>
            <span class="mdc-top-app-bar__title">
                <a href="/" style="color: inherit; text-decoration: none;">Tic-Tac Shop</a>
            </span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <button class="mdc-icon-button mdc-top-app-bar__action-item--unbounded">
                <a class="material-icons" href="/admin/" title="Administración" aria-label="Administración" style="color: inherit; text-decoration: none;">admin_panel_settings</a>
            </button>
        </section>
    </div>
</header>